/* ========== Phone size ========== */

@media screen and (max-width: 48rem){

    /* ========== Hero ========== */
        .main-header{
            height: 4.5rem;
        }

        .hero-container{
            margin-top: 4.5rem;
        }

        .hero-showcase{
             height: 15.9375rem;
        }
    
        .hero-text-container{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .hero-title{
            font-size: 1.5rem; 
        }
    
        .hero-partner-text{
            display: none;
        }
        
        .hero-partner-list{
            display: none;
        }

        /* ========== Table ========== */
        .comparison-chart{
            padding: 0 .9375rem;
        }

        .chart-title{
            font-size: 1.25rem;
        }

        .col{
            height: 2.0625rem;
        }

        .col-title{
            padding-left: .625rem;
            font-size: .75rem;
        }

        /* ========== Card Options ========== */
        .school-container{
            display: block;
            padding: 0;
        }

        .focus-btn:focus{
            display: none;
        }

        .focus-btn{
           width: 100%;
           position: relative;
        }

        .school-title{
            padding: .75rem .875rem;
            font-weight: var(--semi-bold);
            font-size: .875rem;
            text-align: left;
            border-bottom: .0625rem solid #c8cdd2;  
        }

        .school-title-mobile-minus:before{
            content: "-";
            display: block;
            position: absolute;
            top: .75rem;
            right: 1.75rem;
            font-size: 1.6875rem;
            font-weight: var(--regular);
            color: var(--border-blue-clr);
            transition: all .3s ease;
        }

        .school-title-mobile:after{
            content: "+";
            display: block;
            position: absolute;
            font-size: 1.6875rem;
            top: .75rem;
            right: 1.5rem;
            font-weight: var(--regular);
            color: var(--border-blue-clr);
        }
    
        /* ========== Card Carousel ========== */
        .card-carousel-wrapper{
            min-width: 20rem;
            max-width: 22.25rem;
            grid-template-columns: 1fr;
            margin: 0 auto;
        }

        .carousel-title{
            max-width: 16.875rem;
            margin-left: auto;
            margin-right: auto;
            font-size: 1.25rem;
        }

       /* ========== Cards ========== */
        .card-top-title{
            margin-bottom: .5rem;
            font-size: 1.75rem;
        }

        .card-top-sub{
            font-size: 1rem; 
        }

        /* ========== Explore Banner ========== */
        .explore-banner-container{
            height: 24rem;
        }
       
        .explore-banner-title{
            font-size: 1.5rem;;
        }

        /* ========== Bottom main heading ========== */
        .bottom-title{
            font-size: 1.5rem;
        }

        /* ========== Footer Top ========== */
        .footer-logo{
            padding-top: 2.5rem;
        }

        .footer-list-wrapper{
            display: block;
            margin-bottom: 3.125rem;
            box-shadow: 10px 10px 18px #c4c4ca;
            background-color: var(--white-clr);
            }

        .footer-col{
            border-bottom: 3px solid rgba(238, 235, 235, 0.1);
        }

        .footer-list{
            margin-bottom: 0;
        }

        .footer-items{
            display: none;
        }

        .footer-list-title{
            position: relative;
            padding: .75rem 1.5rem;
            margin-bottom: 0.5625rem;
            background-color: var(--white-clr);
        }

        .footer-list-title::after{
            content: "+";
            position: absolute;
            top: .75rem;
            right: 1.5rem;
            font-size: 1.25rem;
            font-weight: var(--regular);
            opacity: .3;
            color: #2e3d49;
        }

        /* ========== Footer Bottom ========== */
        .footer-secondary-top-wrapper{
            display: block;
        }

        .copyright{
            padding-top: .875rem;
            text-align: center;
            font-size: .8125rem;
        }

        .social-media-icon-container{
            height: 3rem;
            float: left;
            padding-top: 1rem;
            margin: 0 auto 1.5rem;
            display: inline-block;
            text-align: center;
            width: 100%;
        }

        .copy-links{
            display: none;
        }

    }