/* ========== Tablet Size ========== */

@media screen and (max-width: 62rem){

    /* ========== Hamburger menu ========== */
    label{
        display: block;
    }

    #toggle:checked + .main-nav{
        display: block;
    }

    .main-nav{
        display: none;
    }

    .dropdown-nav{
        display: block;
    } 

    .logo-link{
        margin: 0 auto;
        padding-left: 6.875rem;
    }

    .udacity-logo{
        display: none;
    }

    /* ========== Hero ========== */
    .hero-container{
        grid-template-columns: 100%;
    }

    .hero-showcase{
        margin-top: 0;
    }

    /* ========== Table ========== */
    .comparison-chart{
        padding: 0 2.5rem;
    }

    .col-title{
        width: 32.75rem;
    }

    .col-blue, .col-gray{
        width: 11.3125rem;
    }
    
    /* ========== Card Carousel ========== */
    .card-carousel-wrapper{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.875rem;
        min-width: 35.625rem;
        max-width: 46.875rem;
        margin: 0 auto;
    }
    
    /* ========== Explore Banner ========== */
    .explore-banner-text-wrapper{
        padding: 0 1.25rem;
    }

    /* ========== Grade Container ========== */
    .grade-container{
        display: block;
        
    }
}


/* ========== Main container desktop size ========== */

@media screen and (max-width: 73.75rem){
    .main-header{
        padding-left: 0.9375rem
    }

    .card-carousel-wrapper{
        padding: 0 0.625rem;
    }

    .school-container{
        padding: 0 0.625rem;
    }

    .school-title{
        text-align: center;
    }

    .footer-container-color{
        padding: 0 1.25rem;
    }
}