
.main-container-size{
    max-width: 73.75rem;
    margin: 0 auto;
}

/* ========== Hamburger ========== */
label{
    font-size: 1.5625rem;
    color: var(--border-blue-clr);
    display: none;
}

#toggle{
    display: none;
}

/* ========== Navigation ========== */
.main-header{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0 1px 20px 0 rgba(46,61,73,.2);
    background-color: var(--white-clr);
}

.header-wrapper{
    width: 73.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown-nav{
    display: flex;
}

.dropdown-items{
    margin-left: 1.5rem;
}

.dropdown-links{
    padding: 0 .5rem;
    margin-right: 1.125rem;
}

.dropdown-links:hover{
    color: var(--btn-clr);
}

.pointer-down{
    margin-left: .2rem;
}

.nav-divider{
    width: 0;
    height: 1.5rem;
    margin: 0 1.125rem;
    border-left: 1px solid rgba(82,92,101,.4);  
}

.sign-in-link{
    margin: 0 1.125rem;
}

.sign-in-link:hover{
    color: var(--btn-clr);
}

/* ========== Utillitis Nav Button ========== */
.btn-nav{
    width: 8.1875rem;
    height: 2rem;
    margin: 0 1.125rem;
    font-size: .8125rem;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
    letter-spacing: .09375rem;
}

/* ========== Hero showcase ========== */
.hero-container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 60% 40%;
}

.hero-showcase{
    height: 20.1875rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
    background-image: url(/img/HomepageBanner_tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white-clr);
}

.hero-text-container{
    width: 31.25rem;
}

.hero-title{
    margin-bottom: 1.5rem;
    font-size: 1.5625rem;
    font-weight: var(--bold);
    color: var(--semi-white-clr);
}

.hero-text{
    margin-bottom: 1.5rem;
    font-size: .875rem;
    font-weight: var(--regular);
    line-height: 1.125rem;
    color: var(--semi-white-clr);
}

.hero-partner-text{
    margin-top: .875rem;
    font-size: 1rem;
    font-weight: var(--regular);
    line-height: 1.75rem;
    color: var(--white-clr);
}

.hero-partner-list{
    display: flex;
}

.hero-partner-list-items{
    margin-right: 2.3125rem;
}

.hero-partner-img{
    height: 2.75rem;
    width: auto;
}

/* ========== Table ========== */
.comparison-chart{
    margin: 1.5rem 0;
}

.chart-title{
    text-align: center;
    font-size: 1.625rem;
    margin-bottom: .625rem;
    font-weight: var(--light);
    color: var(--secondary-clr);
}

table{
    border-collapse: collapse;
}

.row{
    border-bottom: 1px solid var(--white-clr);
}

.col{
    height: 2.5rem;
}

.col-blue, .col-gray{
    width: 6.8125rem;
    font-size: .8125rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-clr);
}

.col-blue{
    background-color: var(--btn-clr);
    border-right: 2px solid var(--white-clr);
}

.col-gray{
    background-color: #6d7780;
}

.col-title{
    width: 15.875rem;
    padding-left: 1.25rem;
    background-color: var(--semi-white-clr);
}

/* ========== Card Carousel Container ========== */
.card-carousel-container{
    margin: 3rem 0;
}

.carousel-title{
    margin-bottom: 2rem;
    font-size: 1.75rem;
    font-weight: var(--semi-bold);
    color: var(--secondary-clr);
}

/* ========== Card Carousel Container ========== */
.school-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.focus-btn{
    position: relative;
    border: none;
    background-color: var(--white-clr);
}

.focus-btn:focus{
    border-bottom: 2px solid var(--border-blue-clr);
    outline: none;
}

.focus-btn:focus:after{
    content: "";
    position: absolute;
    display: block;
    background-color: var(--border-blue-clr);
    width: .83437rem;
    height: .83437rem;
    transform: rotate(45deg);
    top: 85%;
    right: 45%;
    z-index: -1;
}

.school-title{
    font-size: 1rem;
    font-weight: var(--regular);
    letter-spacing: .05437rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--secondary-clr);
}

/* ========== Card Carousel ========== */
.card-carousel-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .625rem;
    margin-bottom: 3rem;
}

.carousel-card{
    border-radius: .25rem;
    box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
}

.card-carousel-img-wrapper{
    position: relative;
    width: 100%;
    height: 9.375rem;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.img-carousel-one{
    background-image: url(/img/man-analyzing-data-card.jpg);
}

.img-carousel-two{
    background-image: url(/img/catalog_image_nd030.webp);
}

.img-carousel-three{
    background-image: url(/img/catalog_image_nd072.webp);
}

.img-carousel-four{
    background-image: url(/img/data_analyst_catalog_image.jpg);
}

.flag-new::after{
    content: "new";
    position: absolute;
    top: 10px;
    left: 10px;
    padding: .2rem .5rem;
    border-radius: .25rem;
    font-size: .8125rem;
    font-weight: var(--semi-bold);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #ad3959;
    color: var(--white-clr);
}

.flag-popular::after{
    content: "popular";
    position: absolute;
    top: 10px;
    left: 10px;
    padding: .2rem .5rem;
    border-radius: .25rem;
    font-size: .8125rem;
    font-weight: var(--semi-bold);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    background-color: #2a77aa;;
    color: var(--white-clr);
}

.card-carousel-title{
    padding: 1.25rem .9375rem 2.5rem;
    font-size: 1rem;
    font-weight: var(--semi-bold);
    line-height: 1.25rem;
}

.card-carousel-footer-wrapper{
    padding: 0 .9375rem 1.875rem;
}

.student-ratings{
    padding-bottom: .625rem;
    font-size: .75rem;
    text-align: right;
}

.card-carousel-footer-title{
    font-size: .8125rem;
    font-weight: var(--semi-bold);
    letter-spacing: .135rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #6d7780;
}

.card-carousel-footer-sub{
    font-size: .8125rem;
    line-height: 1.25rem;
    color: var(--primary-clr);
}

/* ========== Cards Container ========== */
.main-cards-container{
    padding: 3.0625rem 0 1.875rem;
}

.card-top-title{
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: var(--light);
    line-height: 2.25rem;
    color: var(--secondary-clr);
}

.card-top-sub{
    padding-bottom: 3rem;
    font-size: 1.125rem;
    font-weight: var(--regular);
}

/* ========== Cards ========== */
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper{
    width: 17.75rem;
    height: 18.75rem;
    padding: 0 .9375rem;
    margin: 0 .3125rem .625rem;
    border-radius: .25rem;
    box-shadow: 0 0 4px 0 rgba(17,22,26,.16), 0 2px 4px 0 rgba(17,22,26,.08), 0 4px 8px 0 rgba(17,22,26,.08);
}

.border-blue{
    border-top: 3px solid var(--border-blue-clr);
}

.border-yellow{
    border-top: 3px solid #ffae0c;
}

.border-green{
    border-top: 3px solid #15c26b;
}

.border-purple{
    border-top: 3px solid #a951ed;
}

.card-img-wrapper{
   display: flex;
   justify-content: center;
}

.card-icon{
    width: 2.125rem;
    height: 2.125rem;
    margin: 2rem 0 .5rem;
}

.card-title{
    margin-bottom: .625rem;
    font-size: 1.125rem;
    font-weight: var(--semi-bold);
    line-height: 2.25rem;
    color: var(--secondary-clr);
}

.card-sub{
    font-size: .875rem;
    font-weight: var(--regular);
    line-height: 1.75rem;
}

/* ========== Explore Banner ========== */

.explore-banner-container{
    width: 100%;
    height: 19.5rem;
    margin: 3rem 0;
    background-color: var(--secondary-clr);
}

.explore-banner-text-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white-clr);
}

.explore-banner-title{
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: var(--light);
}

.explore-banner-sub{
    padding-bottom: 1.5rem;
    font-size: .95rem;
    font-weight: var(--regular);
    line-height: 1.75rem;
}

/* ========== Bottom Main Container ========== */
.bottom-main-container-color{
    padding-top: 3rem;
    background-color: rgba(29,124,248,.05);
}

.bottom-title{
    padding-top: 2rem;
    margin-bottom: 3.5rem;
    font-size: 2rem;
    font-weight: var(--light);
}

/* ========== Grade Container ========== */
.grade-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.grade-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.grade-title{
    margin: 1rem 0;
    font-size: 1.75rem;
    font-weight: var(--light);
    line-height: 2.25rem;
}

.grade-sub{
    width: 13.63rem;
    font-size: 1rem;
    font-weight: var(--semi-bold);
    line-height: 1.5rem;
    color: #11161a;
}

/* ========== Student Cards ========== */
.student-card-container{
    margin-top: 3rem;
}

.studen-card-wrapper{
    position: relative;
    width: 21.5rem;
    height: 23.3125rem;
    padding: 0;
    margin: 1.875rem 1.25rem;
    border-radius: 0 0 8px 8px;
    background-color: var(--white-clr);
}

.studen-card-img{
    width: auto;
    height: 4rem;
    margin-top: -1.875rem;
    margin-bottom: 1.25rem;
}

.studen-card-title{
    font-size: 1.75rem;
    line-height: 36px;
    font-weight: var(--light);
    margin-bottom: 15px;
}

.studen-card-sub{
    padding: 0 1.25rem 1.25rem;
    font-size: 1rem;
    font-weight: var(--regular);
    font-style: italic;
    line-height: 1.75rem;
}

.student-card-footer{
    position: absolute;
    width: 100%;
    height: 6.25rem;
    border-radius: 0 0 8px 8px;
    bottom: 0;
    background-color: var(--semi-white-clr);
}

.studen-card-footer-title{
    margin-top: 1.5rem;
    font-size: .8125rem;
    font-weight: var(--semi-bold);
    line-height: 1.5rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.studen-card-footer-sub{
    margin-bottom: 24px;
    font-size: 1rem;
    color: var(--secondary-clr);
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn-bottom{
    width: 14rem;
    margin-bottom: 5.5rem;
}

/* ========== Footer ========== */
.footer-container-color{
    padding-top: 4.5rem;
    background-image: linear-gradient(to bottom right,var(--semi-white-clr),#eafbff);
}

.footer-logo{
    margin-bottom: 3rem;
}

.footer-list-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-list-title{
    margin-bottom: .75rem;
    font-size: .8125rem;
    font-weight: var(--semi-bold);
    line-height: 1.5rem;
    letter-spacing: .125rem;
    text-transform: uppercase;
    color: #7d97ad;
}

.footer-list{
    margin-bottom: 2.25rem;
}

.footer-items{
    margin-bottom: .5rem;
    font-size: .8125rem;
    line-height: 1.25rem;
    cursor: pointer;
    color: var(--primary-clr);
    transition: color .3s ease;
}

.footer-items-link:hover{
    color: #000;
}

/* ========== Footer Bottom ========== */
.footer-secondary{
    border-top: 1px solid #d8d8d8;
}

.footer-secondary-top-wrapper{
    display: flex;
    justify-content: space-between;
}

.copyright{
    padding-top: 1.875rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--primary-clr);
}

.copy-links{
    padding-left: .3125rem;
}

.social-media-icon-container{
    padding-top: 1.875rem;
}

.icon-link{
    margin-right: .9375rem;
}

.footer-secondary-bottom-wrapper{
    padding-bottom: 4.5rem;
}

.micro-footer-text{
    max-width: 48.75rem;
    padding-bottom: .75rem;
    margin: 0 auto;
    font-size: .5625rem;
    line-height: .75rem;
    color: var(--primary-clr);  
}
